apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hem-ingress
  namespace: {{ .Values.namespace }}
spec:
  ingressClassName: {{ .Values.ingressClassName }}
  rules:
  {{- range .Values.ingressHostList }}
  - host: {{ . }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: prometheus-grafana
            namespace: monitoring
            port:
              number: 80
  {{- end }}
